<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>The Hangman Game</span>
    </mat-toolbar><br/><br/>
    <div class="container">
      <div class="img-painel">
        <img src=assets\{{imageName}}/>
      </div>
      <div class="guess-painel" [style]="getGuessPainelStyle()">
        <div *ngFor="let c of guessWord">{{c}}</div>
      </div>
      <div class="buttons-chars">
        <div *ngFor="let ch of characters">
          <button mat-raised-button color="primary" (click)="guess(ch)" [disabled]="getButtonDisabled(ch)">{{ch}}</button>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
